body {
  font-family: Arial, sans-serif;
  margin: 30px;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input, textarea {
  width: 80%;
  padding: 8px;
  margin: 5px 0;
}

button {
  padding: 8px 16px;
  margin: 5px;
  cursor: pointer;
}

#musicas, #musicasAdmin {
  margin-top: 20px;
}
